*{
    /* background-color: #ff33; */
    margin:0;
    padding:0;
    box-sizing:content-box;
}

.gridElement{
    /* background-color: #ffc600; */
    /* border: 0.1px solid lightgray; */
    opacity: 0.3;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    gap:1rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 482px;
    height: 482px;
    border: 1px solid #808080;
    gap:0px;
}

.hover {
    background-color: #808080;
}

button {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border:1px solid gray;
    border-radius: 0.5rem;
    background-color: gray;
    color:#fff;
}